/bin/
/libs/
/production/
/gen/
.DS_Store
/res/drawable*/
/.settings/
.project
/kit-libs/
proguard-project.txt
crashlytics.properties
kits.properties
ic_launcher-web.png
/res/values/com_crashlytics_export_strings.xml
/assets/crashlytics-build.properties